name: Test Scopy GUI
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8']
    name: Python ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
    - run: |
        sudo apt-get update
        sudo apt-get install python3 python3-pip curl unzip firefox -yf
        sudo apt install -y python3 python3-pip
        sudo pip3 install --upgrade pip 
        sudo pip3 install Pillow
        sudo apt install -y tesseract-ocr
        DEBIAN_FRONTEND=noninteractive sudo apt install -y python3-xlib
        sudo apt install -y xvfb xserver-xephyr scrot
        sudo apt install -y firefox-geckodriver
        sudo pip3 install -r requirements_linux.txt
        Xvfb :99 -ac &
        export DISPLAY=:99
        sleep 5
        firefox --new-window http://www.cyberciti.biz/ &
        sleep 5
        firefox --new-window http://www.cyberciti.biz/ &
        sleep 5
        scrot test.png
    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v2
      with:
        name: test_img
        path: test.png
        retention-days: 5
